<launch>
    <include file="$(find utils)/launch/run_automobile.launch" />
    <param name="chmod" command="sudo chmod 666 /dev/ttyACM0" />
    <!-- <node pkg="sign_light_ped_detection_ssd" type="cam_pub.py" name="cameraPubNODE" output="screen"/> -->
    <node pkg="output" type="serialDealerNODE.py" 		name="serialDealerNODE"  		output="screen"/>
    <!-- <node pkg="sensors" type="imuNode.py" name="imuNODE" output="screen"/> -->
    
   
</launch>
